/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Nunito&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------general*/

body {
    background-color: #FEFAE8;
}


h1, h2, h3 {
    font-family: Nunito, sans-serif;
}

p, input, label {
    font-family: Roboto, sans-serif;
}

.btn {
    font-family: Roboto, sans-serif;
}

/*--------------------------------------------header*/

.navbar-brand {
    font-family: Comforter, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.navbar-brand:hover {
    color: red;
}

.nav-link {
    font-family: Roboto, sans-serif;
    color: white;

}

.nav-link:hover {
    color: red;
}

.persona-link {
    text-decoration: none;
    color: #6F8E8B;
}

/*--------------------------------------------link persona_detail*/

.persona-link:hover {
    color: red;
}

/*--------------------------------------------social media*/

.fa-linkedin-in:hover {
    color: red;
}

.fa-github:hover {
    color: red;
}

/*--------------------------------------------pagination*/

.page-link:hover {
    color: red;
}

/*--------------------------------------------Persona_details fields*/

.card-title {
    font-family: Comforter, sans-serif;
}

.card-text {
    font-family: Roboto, sans-serif;
}

.field-title {
    font-family: Nunito, sans-serif;
}

/*--------------------------------------------Viewports*/

.adjust {
    height: 82vh;
}

@media (max-height: 1030px) {
    .adjust {
        height: auto;
    }
}

.adjust_contact {
    height: 84vh;
}

@media (max-height: 1030px) {
    .adjust_contact {
        height: auto;
    }
}

.adjust_create {
    height: 85vh;
}

@media (max-height: 1030px) {
    .adjust_create {
        height: auto;
    }
}

.adjust_edit {
    height: 85vh;
}

@media (max-height: 1030px) {
    .adjust_edit {
        height: auto;
    }
}