{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
Log out
{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="mx-auto mt-5 w-50 justify-content-center align-items-center" style="height: 82vh;">
  <h2>Dear {{user.username}},</h2>

  <h2>{% trans 'Are you sure you want to sign out?' %}</h2>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-success my-3 btn-lg" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>

{% endblock %}