{% extends "base.html" %}



{% block title %}
Contact us
{% endblock %}

{% block content %}

<div class="container form-style" style="height: 84vh;">
    <h2 class="text-center mt-3">Contact us</h2>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ contact.message | safe }}
            <button type="submit" class="btn btn-success mb-3">Send</button>
        </form>

    </div>
</div>


{%endblock content%}