<footer class="text-center text-white" style="background-color: #9BB2A6;">
    <div class="container p-4">
        <!-- Section: Social media -->
        <div class="mb-4">
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/bakry-diarra-10364b16a/"
                class="btn text-white btn-floating m-1 btn-light"
                role="button" target="_blank"
                title="Linkedin"
                aria-label="Visit my Linkedin page (opens in new tab)">
                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
            </a>
            <!-- Github -->
            <a href="https://github.com/bakrydiarra"
                class="btn text-white btn-floating m-1 btn-light"
                role="button" target="_blank"
                title="Github"
                aria-label="Visit my Github page (opens in new tab)"><i
                    class="fab fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <!-- Section: Social media -->
    </div>
    <div class="text-center p-3" >
        © Wall of Shame
    </div>
    
</footer>