{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Persona Entries Column -->
        <div class="col-12 mt-3 mx-auto ">
            <div class="row">
                {% for persona in persona_list %}
                <div class="col-md-4 m-4 mx-auto">
                    <div class="card mb-4">
                        <div class="card-body">

                            <!-- Persona image -->

                            <div class="image-container">
                                {% if "placeholder" in persona.shameful_pic.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ persona.shameful_pic.url }}">
                                {% endif %}

                            </div>

                            <!-- Persona Nickname and link to Persona Details -->

                            <a href="{% url 'persona_detail' persona.slug %}" class="persona-link">
                                <h2 class="card-title">{{ persona.shamefull_nickname }}</h2>
                                <h2 class="card-title">unapologetic shameless - click for more</h2>
                            </a>
                            <hr />
                            <div
                                class="d-flex flex-column flex-lg-row justify-content-between small text-secondary card-text">

                                <!-- Date Of Creation ann number of likes and comments -->

                                <span>{{persona.created_on}}</span>
                                <div>
                                    <span><i class="fa-solid fa-heart"></i> {{persona.number_of_likes}}</span>
                                    <span><i class="fa-solid fa-message"></i> {{persona.number_of_comments}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


</div>

<div class="d-flex justify-content-center">
    <a href="{% url 'create_persona' %}" role="button" class="btn btn-outline-success mb-3 btn-floating btn-m"
        >Create a Post</a>
</div>
<!-- Show pagination prev and next when the page reaches 6 personas -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{%endblock%}