
{% extends "base.html" %}

{% load static %}

{% block title %}
Persona Detail
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div>
    <div class="card mx-auto mt-3 w-50">
      {% if "placeholder" in persona.shameful_pic.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top" alt="...">
        {% else %}
        <img class="card-img-top" src="{{ persona.shameful_pic.url }}">
        {% endif %}
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">{{persona.shamefull_nickname | safe }}</h3>
          <p class="card-text text-center">Here's one of the faces that I hide from the world</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>The embarassing song that I listen alone</h5>
            <p> {{persona.shameful_song | safe }}</p>
          </li>
          <li class="list-group-item">
            <h5>The TV Show that I watch but will never recommend</h5>
            <p> {{persona.shameful_tv_show | safe }}</p>
          </li>
          <li class="list-group-item">
            <h5>A habit that I have but never confess</h5>
            <p> {{persona.shameful_habit | safe }}</p>
          </li>
        </ul>
        <div class="card-body">
          <h5>The story that I have never told but woths a laugh</h5>
            <p class="card-text">{{persona.shameful_story | safe }}</p>
        </div>
        <div class="card-body d-flex justify-content-between small text-secondary">
          <span>{{persona.created_on}}</span>
          <span><i class="fa-solid fa-heart"></i> {{persona.number_of_likes}}</span>
          <span><i class="fa-solid fa-message"></i> {{persona.number_of_comments}}</span>
        </div>
      </div>
</div>

<h3 class="my-5 text-center">
  {% if persona.number_of_comments > 0 %}
  {% if persona.number_of_comments == 1 %}
  1 Comment
  {% else %}
  {{persona.number_of_comments}} Comments
  {% endif %}
  {% else %}
  0 Comment
  {% endif %}
</h3>

<div>
  {% for comment in comments %}
  <div class="card mx-auto mtb-3 w-50">
    <h5 class="card-title">{{comment.author}}</h5>
    <h6 class="card-subtitle mb-2 text-secondary small">{{comment.created_on}}</h6>
    <p class="card-text">{{comment.content}}</p>

  </div>
  {% endfor %}
</div>

{%endblock content%}