{% extends "base.html" %}

{% load static %}

{% block title %}
Persona Detail
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


  <div class="card mx-auto mt-5 w-50">
    {% if "placeholder" in persona.shameful_pic.url %}
    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top" alt="...">
    {% else %}
    <img class="card-img-top" src="{{ persona.shameful_pic.url }}" alt="...">
    {% endif %}
    <div class="card-body">
      <h3 class="card-title text-center text-uppercase">{{persona.shamefull_nickname | safe }}</h3>
      <p class="card-text text-center">Here's one of the faces that I hide from the world</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5 class="text-center field-title">The embarassing song that I listen alone:</h5>
        <p> {{persona.shameful_song | safe }}</p>
      </li>
      <li class="list-group-item">
        <h5 class="text-center field-title">The TV Show that I watch but will never recommend:</h5>
        <p> {{persona.shameful_tv_show | safe }}</p>
      </li>
      <li class="list-group-item">
        <h5 class="text-center field-title">A habit that I have but never confess:</h5>
        <p> {{persona.shameful_habit | safe }}</p>
      </li>
    </ul>
    <div class="card-body">
      <h5 class="text-center field-title">The story that I have never told but worthes a laugh:</h5>
      <p class="card-text">{{persona.shameful_story | safe }}</p>
    </div>
    <div class="d-flex flex-column flex-lg-row justify-content-between small text-secondary card-text mt-3">
      <span>{{persona.created_on}}</span>
      <div>
      <span><i class="fa-solid fa-heart"></i> {{persona.number_of_likes}}</span>
      <span><i class="fa-solid fa-message"></i> {{persona.number_of_comments}}</span>
    </div>
    </div>
    <!-- Show button delete and and edit if authenticated and author from the persona -->
    {% if user.is_authenticated %}
    {% if user.id == persona.author.id %}
    <div class="card-body justify-content-center">
      <a href="{% url 'edit_persona' persona.slug %}" role="button"
        class="btn btn-outline-success btn-block mx-2 btn-m mt-2"><strong>Edit</strong> </a>
      <a href="{% url 'delete_persona' persona.slug %}" role="button"
        class="btn btn-outline-success btn-block mx-2 btn-m mt-2"><strong>Delete</strong></a>
    </div>
    {% endif %}
    {% endif %}
  </div>

<!-- Show btn like or unlike it depends which one was already clicked -->
{% if user.is_authenticated %}
<div class="mx-auto mtb-3 w-50">
  <form class="d-inline " action="{% url 'persona_like' persona.slug %}" method="post">
    {% csrf_token %}
    <div class="form-group d-flex justify-content-center mt-3">
      <button type="submit" name="blogpost_id" value="{{persona.slug}}" class="btn btn-outline-success ">
        {% if liked %} Unlike {% else %} Like {% endif %}
      </button>
    </div>
  </form>

</div>
{% endif %}

<!-- Show the number of comments -->

<h3 class="my-5 text-center">
  {% if persona.number_of_comments > 0 %}
  {% if persona.number_of_comments == 1 %}
  1 Comment
  {% else %}
  {{persona.number_of_comments}} Comments
  {% endif %}
  {% else %}
  0 Comment
  {% endif %}
</h3>

<!-- Show comment Form -->

{% if user.is_authenticated %}
<div class="card mx-auto my-3 w-50">
  <h4 class="card-header">Write a comment</h4>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ comment_form | crispy}}
      <button type="submit" class="btn btn-outline-success btn-m">Post Comment</button>
    </form>
  </div>
</div>

{%endif%}
<!-- Show comments from oldest to newest -->
{% for comment in comments %}
<div class="card mx-auto my-3 w-50">

  <div class="card-body">
    <h5 class="card-title">{{comment.author}}</h5>
    <h6 class="card-subtitle mb-2 text-secondary small">{{comment.created_on}}</h6>
    <p class="card-text">{{comment.content}}</p>

  </div>

</div>
{% endfor %}

{%endblock content%}