{% extends "base.html" %}
{% block title %}
Search Resultts
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog persona Entries Column results -->
        <div class="col-12 mt-3 mx-auto ">
            <div class="row">
                {% if q %}
                {% for persona in results %}
                <div class="col-md-4 m-4 mx-auto">
                    <div class="card mb-4">
                        <div class="card-body">

                            <!-- Persona image -->

                            <div class="image-container">
                                {% if "placeholder" in persona.shameful_pic.url %}
                                <img class="img-fluid w-100"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="user picture">
                                {% else %}
                                <img class="img-fluid w-100" src="{{ persona.shameful_pic.url }}" alt="user picture">
                                {% endif %}

                            </div>

                            <!-- Persona Nickname and link to Persona Details -->

                            <a href="{% url 'persona_detail' persona.slug %}" class="persona-link">
                                <h2 class="card-title">{{ persona.shamefull_nickname }}</h2>
                                <p class="card-text">Discover my shameless Me</p>
                            </a>
                            <hr />
                            <div class="d-flex justify-content-between small text-secondary">

                                <!-- Date Of Creation -->

                                <span>{{persona.created_on}}</span>
                                <span><i class="fa-solid fa-heart"></i> {{persona.number_of_likes}}</span>
                                <span><i class="fa-solid fa-message"></i> {{persona.number_of_comments}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

            </div>
        </div>
        {% empty %}


        <div class="mx-auto mt-5 w-50 justify-content-center align-items-center" style="height: 82vh;">
            <div class="text-dark">
                <h1>There was no matching results found. <br> Please try another keyword..
                </h1>
                <a href="{% url 'home' %}" role="button"
                    class="btn btn-outline-success btn-block mt-5 mx-2 btn-m "><strong>Back Home</strong> </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}



    </div>


</div>



<!-- Show pagination prev and next when the page reaches 6 personas -->

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{%endblock%}